[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
        fush = push --force-with-lease
        upd = !git add . && git commit -m "update"
        upp = !git add . && git commit -m "update" && git push
        ml = log --oneline --graph
        mla = log --oneline --graph --all
        mlaf = !git --no-pager log --oneline --decorate --graph --all >>
        wl = worktree list
        wa = worktree add
        wr = worktree remove

[user]
        email = sfschenkel@gmail.com
        name = Filipe Schenkel

[core]
        editor = vim

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true

[init]
        defaultBranch = main

[diff]
        tool = vimdiff
